@import url('https://fonts.googleapis.com/css2?family=Commissioner:wght@100..900&family=Newsreader:ital,opsz,wght@0,6..72,200..800;1,6..72,200..800&display=swap');

body {
    font-family: "Newsreader", serif;
}
h1, h2, h3, h4, h5, h6 {
    font-weight: 600;
}
.title {
    font-weight: 600;
    /* font-family: "Commissioner", sans-serif; */
}

.content h1, .content h2, .content h3, .content h4, .content h5, .content h6 {
    font-family: "Commissioner", sans-serif;
    font-weight: 700;
}

#contrasts-header {
    background-color:black;
    /*
    background-image: url("portal_graphic.png");
    background-repeat: no-repeat;
    background-position: center;
    */
    overflow: hidden;
    position: relative;
}

.contrasts-circle {
    border-radius: 50%;
    display: block;
    position: absolute;
    border: 8px solid;
    left: 50%;
    top: 50%;
  }

  .contrasts-circle-1 {
    border-color: rgba(186, 254, 78, 1);
    box-shadow: 0 0 8px 3px rgba(186, 254, 78, 0.6), inset 0 0 8px rgba(186, 254, 78, 0.6);
    width: 750px;
    height: 750px;
    margin-left: -380px;
    margin-top: -375px;
  }
  .contrasts-circle-2 {
    border-color: rgba(100, 244, 69, 1);
    box-shadow: 0 0 8px 3px rgba(100, 244, 6, 0.6), inset 0 0 8px rgba(100, 244, 6, 0.6);
    width: 770px;
    height: 770px;
    margin-left: -385px;
    margin-top: -365px;
  }
  .contrasts-circle-3 {
    border-color: rgba(132, 32, 247, 1);
    box-shadow: 0 0 8px 3px rgba(132, 32, 247, 0.6), inset 0 0 8px rgba(132, 32, 247, 0.6);
    width: 725px;
    height: 725px;
    margin-left: -362.5px;
    margin-top: -362.5px;
  }